
.body{
  border: solid;
  border-color: black;
}
.inputs {
  width: 500px;
  height: 30px;
}
.AMdiv{
  border:solid;
  border-color: rgb(255, 127, 229);
  padding: 45px;
}
.btn{
  margin-left: 150px;
  height: 30px;
  width: 120px;
}
.GMdiv{
  border: solid;
    border-color: rgb(255, 127, 229);
    padding: 45px;
}